
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:~/bin

*/15 * * * * ./api.covid19pt.info/bin/build-world 2>&1 | /usr/bin/logger -t build-world
*/30 * * * * ./api.covid19pt.info/bin/build-countries 2>&1 | /usr/bin/logger -t build-countries
0 */4 * * * ./api.covid19pt.info/bin/build-events 2>&1 | /usr/bin/logger -t build-events
0 1 * * * ./api.covid19pt.info/bin/update-population 2>&1 | /usr/bin/logger -t build-population
